@import: "/assets/less/reset.less";

@lightBrown: rgb(217,206,178);
@offBrown: rgb(148,140,117);
@lightBlue: rgb(213,222,217);
@brown: rgb(122,106,83);
@midBlue: rgb(153,178,183);

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body{
  background: @lightBlue;
  color: @brown;
  font-family: 'Inconsolata', sans-serif;
  position: relative;
}

header{

  nav{
    border-bottom: 1px solid @offBrown;
    width: 100%;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: inline-block;
      margin: 0 10px;
      a{
        text-decoration: none;
      }
    }
  }
}

h1{
  color: @brown;
}
h2{
  color: @offBrown;
}
a, a:visited, a:hover{
  color: @brown;
}

#addContact{
  border: 3px solid @offBrown;
  height: 175px;
  padding: 15px;
  width: 175px;
  .border-radius(5px);

  input{
    display: block;
    margin-bottom: 10px;
    width: 150px;
    .border-radius(5px);
  }
}

#listContacts{
  border-top: 1px solid @offBrown;
  margin: 15px 0 0 0;
}


.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}