extends layout
block content
  #main
    h1 Hello World

    h2 Add a contact
    form()#addContact
      label First Name
      input(type="text",name="firstName")

      label Last Name
      input(type="text",name="lastName")

      label Email
      input(type="text",name="email")

      button()#submit Save

    #listContacts
  footer

