doctype 5
html(lang="en").no-js
  head
    title= typeof(title) !== 'undefined' ? title : "Fern's site"
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1", charset="utf-8")
    meta(name="viewport", content="width=device-width")

    //link(rel="stylesheet", href="/assets/css/style.css")
    // I am only using less because i prefer to use it when developing
    // Never use it in production always complie less to css!!!

    link(rel="stylesheet/less", href="/assets/less/style.less")
    block styles

    script(src="/assets/js/less-1.3.0.min.js")
    script(src="/assets/js/modernizr-2.5.3-respond-1.1.0.min.js")
  body
    header
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#docs") Docs

    block content

    script(data-main="/src/config", src="/assets/js/require.js")
    block scripts